html, body {
    /* background-color: #F5F5F5; */
    /* background: linear-gradient(to bottom, #F5F5F5, black);
    font-family: 'Inconsolata', monospace; */
    /* color: white; */
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    /* background: linear-gradient(to bottom, #F5F5F5, #D2B48C); */
    background: linear-gradient(to bottom, #F5F5F5, #FFF8DC);
    background-attachment: fixed;
    font-family: 'Inconsolata', monospace;
}

/* ------------------------------ navbar */
.container-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    /* background-color: #8FBC8F; */
    background-color: rgb(143, 188, 143, 0.5);

    width: 100%;
}

.navbar {
    flex: 1;
}

.left {
    margin-top: 0;
    margin-left: 20px;
}

.logo {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.right {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-item {
    text-decoration: none;
    color: black;
    /* color: white; */
}

/* ------------------------------ home */
.container-homepage {
    display: flex;
    flex-direction: column;

    /* margin-top: 50px; */
    margin-top: 5%;
    /* height: 90%; */


}

.homepage-column-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Puts them on the same horizontal axis */
}

.homepage-column {
    flex: 1;
    /* text-align: center; */

    margin-top: 50px;
    padding: 5%;
    /* margin-left: 5%;
    margin-right: 5%; */
}

.header-homepage {
    text-align: center;
    font-size: 30px;
}

#hp-col-right-text {
    font-size: 20px;
}

.project-link-hp {
    color: black;
}

/* ------------------------- resume */
#container-resume-main {
    margin-left: 10%;
    margin-right: 10%;
}

/* #resume-top-section-container {
    margin-left: 10%;
    margin-right: 10%;
} */

.project {
    margin-bottom: 30px;
    margin-left: 5%;
    font-size: 25px;
}

.project-text {
    margin-left: 10%;
}

.project-link {
    color: black;
}

#resume-middle-section-container {
    display: flex;
    flex-direction: row;
}

.resume-middle {
    flex: 1;
    margin-right: 20px;
    margin-top: 50px;
}

.resume-middle-item {
    margin-left: 5%;
}

.resume-middle-item-text {
    margin-left: 10%;
    display: block;
}

span {
    opacity: 0;
    transition: all 0.4s ease;
}

span.fade {
    opacity: 1;
}


/* ------------------------- animations */
@keyframes enterFromLeft {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

/* ------------------------- media screen */
@media only screen and (max-width: 800px) {

    /* ------------------------- navbar */
    .home-page-link {
        display: none;
    }

    /* ------------------------- home */
    .homepage-column-container {
        flex-direction: column;
    }

    .homepage-column {
        margin-top: 20px;
        margin: 0;
    }

    .right-hp {
        margin-left: 5%;
        margin-right: 5%;
    }

    /* ------------------------- resume */
    #container-resume-main {
        margin-left: 5%;
        margin-right: 5%;
    }

    #resume-middle-section-container {
        flex-direction: column;
    }

}
