{% extends 'template.html' %}

{% block content %}

<div class="container-main">

    <div class="about header-container">
        <div class="about-header-text">
            <h1>Hi, I'm Alex.</h1>
            
            <h3 class="conditions">I live in Lakewood, Colorado. Here it's {{ time }}, {{ conditions }}, and feels like {{ feels_like }}°. I'm probably writing code or riding my bike.</h3>
            <!-- <h3 class="temp">Here it's {{ time }} and feels like {{ feels_like }}°F.</h3> -->
            
            <!-- <h3 class="conditions">Current weather conditions: <br> {{ conditions }} <img src="{{ icon }}" alt="Weather icon"></h3> -->
        </div>
    
        <div class="about-header-img">
            <img class="colorado-img" src="/static/images/nature.jpeg" alt="colorado pic">
        </div>
    </div>

    <div class="about-section-two">
        <p class="about about-intro">While studying Biology at App State, I developed an interest in using computers to
            help with complex data analysis. I began by using Excel, followed by learning the basics of R.
            When the pandemic hit as I was deep into my work in a research laboratory, I sought
            a new way to fill my free time. I chose to begin learning Python to advance my abilities
            to conduct plant ecophysiology reserach. This ultimately led me to earn
            a second degree in Computer Science to advance my programming skills. I hope to utilize 
            my diverse skills to contribute to meaningful agricultural research.
        </p>

        <div class="about about-interests">
            <h3>Interests</h3>
            <ul>
                <li>Web Design (UI)</li>
                <li>Plant Ecophysiology</li>
                <li>Data Science (Pandas, NumPy, ML)</li>
                <li>Bioinformatics</li>
                <li>Horticulture</li>
                <li>Information Technology (IT)</li>
            </ul>
        </div>

        
    </div>

    <div class="spacer"></div>
</div>

{% endblock %}