{% extends 'template.html' %}

{% block content %}

<div class="container-main">

    <div class="about header-container">
        <div class="about-header-text">
            <h1>Hi, I'm Alex.</h1>
            <!-- and feels like {{ temp }}° -->
            <h3 class="conditions">I live in Denver, Colorado. Here it's {{ time }} and {{ conditions }}. I'm probably writing code or riding my bike.</h3>
        </div>
    
        <div class="about-header-img">
            <img class="colorado-img" src="/static/images/nature.jpeg" alt="colorado pic">
        </div>
    </div>

    <div class="about-section-two">

        <p class="about about-intro">
            I'm passionate about software testing, database design and management, and projects at the intersection
            of biology and data science. I am always eager to learn and apply new skills to a personal project.
        </p>

        <div class="about about-interests">
            <h3><u>Interests</u></h3>
            <ul>
                <li>Databases</li>
                <li>Quantitative Ecology</li>
                <li>Quality Assurance Development</li>
                <li>API Development</li>
                <li>Code Automation</li>
            </ul>
        </div>
        <br><br>
        
    </div>

    <div class="spacer"></div>
</div>

{% endblock %}