{% extends 'template.html' %}

{% block content %}

<div class="container-main">

    <div class="about header-container">
        <div class="about-header-text">
            <h1>Hi, I'm Alex.</h1>
            
            <h3 class="conditions">I live in Lakewood, Colorado. Here it's {{ time }}, {{ conditions }}, and feels like {{ feels_like }}°. I'm probably writing code or riding my bike.</h3>
        </div>
    
        <div class="about-header-img">
            <img class="colorado-img" src="/static/images/nature.jpeg" alt="colorado pic">
        </div>
    </div>

    <div class="about-section-two">
        <p class="about about-intro">While working in a research lab at ASU, I developed an interest in using computers to
            conduct data analysis and data visualization. I began by using Excel followed by learning the basics of R for more complex math and statistics.
            As I was deep into my research, the pandemic hit. I sought new ways to fill my free time, and my interest in R led
            to an online course in Python. What was then a casual hobby, coding to-do lists and simple games playable in a computer's 
            terminal, grew into much more than that. Once I began learning the basics of data structures and algorithms, I was hooked.
            With an initial plan of pursuing an M.S. in Bioinformatics, I chose to pursue a second bachelor's in Computer Science
            due to my desire to write more complex algorithms and my fascination with different programming languages. I hope to use 
            my diverse skills to contribute to meaningful genetic, ecological, or agricultural research.
        </p>

        <div class="about about-interests">
            <h3><u>Interests</u></h3>
            <ul>
                <li>Computational Biology</li>
                <li>Data Science</li>
                <li>Quantitative Ecology</li>
                <li>Frontend Web Design</li>
                <li>Plant Ecophysiology</li>
                <li>Bioinformatics</li>
                <li>Organic Agriculture</li>
                <li>Wet Lab Research</li>
                <li>Plant Systematics</li>
                <li>Mobile-first Development</li>
            </ul>
        </div>
        <br><br>

        <div class="other-interests">
            <h3><u>Favorites</u></h3>

            <b>Place</b>
            <p>- Crested Butte, CO | Great Sand Dunes NP</p>

            <b>Book</b>
            <p>- Catcher in the Rye</p>

            <b>Musician</b>
            <p>- Mac Demarco</p>

            <b>Programming Language</b>
            <p>- Python</p>

            <b>Animal</b>
            <p>- Cats</p>

            <b>Tree</b>
            <p>- Norway Spruce</p>

            <h5></h5>
        </div>

        
    </div>

    <div class="spacer"></div>
</div>

{% endblock %}