{% extends 'template.html' %}

{% block content %}

<div class="container-homepage">

    <div class="hp-col col-left">
        <h1 class="fancy-name">Alexander Gustafson</h1>
    </div>

    <div class="hp-col col-right">
        <!-- <h1 class="hp-col-text-header">B.S. Computer Science and Biology</h1> -->
        <!-- <p class="hp-col-text">Fullstack Python developer skilled in writing clean, maintainable code. Check out some of my <a class="project-link-hp" href="{{ url_for('projects') }}">projects</a>.</p> -->
        <p style="font-size: 30px;">Fullstack Python developer skilled in writing clean, maintainable code. Check out some of my <a class="project-link-hp" href="{{ url_for('projects') }}">projects</a>.</p>
    </div>

</div>

{% endblock %}