{% extends 'template.html' %}

{% block content %}

<div class="project-container-main">

    <!-- PROJECT 1 - EMAIL SYSTEM -->
    <div id="proj-container-main">

        <h1 class="proj-title">Automated Emails</h1>

        <div class="proj-column-container">
            <div class="proj-1-left-col">
                <img class="proj-img proj-1-img" src="/static/images/sent.png" alt="emails sent img">
            </div>
        
            <div class="proj-1-right-col">
                <div class="project-page-text">
                    <p>Developed an automated emailing system using Python, reducing task time by 95%.</p>
                    <p>Split a CSV of several hundred short term rental reservations, created 50 unique PDFs for each with personalized information.</p>
                    <p>Became the primary contact method for over 20 state park across the US. Included an email list of about 100 state park and Tentrr Staff.</p>
                    <p>Designed for an utilized by Tentrr, a short term rental website. It's like Airbnb but for camping.</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- PROJECT 2 - RECIPE -->
    <div id="proj-container-main">

        <h1 class="proj-title">Recipe management</h1>

        <div class="proj-column-container col-2">

            <div class="proj-2-right-col">
                <div class="project-page-text">
                    <p>A working Flask application that allows a user to add, edit, and delete recipes.</p>
                    <p>Developed a RESTful API that interacts with a remote PostgreSQL server hosted on Heroku. Utilized OOP, class inheritence, and Python scripting.</p>
                    <p>Advanced SQL statements are used and paired with JinJa2 functionality to create a seemeless experience.</p>
                    <p>Check it out at <a class="project-link" href="https://chillcooks.com" target="_blank">chillcooks.com</a></p>
                </div>
            </div>

            <div class="proj-2-left-col">
                <img class="proj-img proj-2-img" src="/static/images/recipes.png" alt="recipes img">
            </div>
        </div>
    </div>
    
    <!-- PROJECT 3 - TRACK THAT -->
    <div id="proj-container-main">
        <h1 class="proj-title">Track That!</h1>

        <div class="proj-column-container">

            <div class="proj-3-left-col">
                <img class="proj-img proj-3-img" src="/static/images/trackthat.png" alt="track that img">
            </div>

            <div class="proj-3-right-col">
                <div class="project-page-text">
                    <p>Gained experience with Agile development methods, weekly scrums, working with project managers, and using Git, GitHub and branches as part of a development team.</p>
                    <p>Utilized efficient version control practices to reduce redundancy and discrepancies in code functionally.</p>
                    <p>Utilized SQL and a custom API to add new events and create a database of completed activities with the time and date of completion.</p>
                </div>
            </div>
        </div>
    </div>
    
    <!-- PROJECT 4 - ANDERS ORBITS -->
    <div id="proj-container-main">
        <h1 class="proj-title">Anders' Orbits</h1>

        <div class="proj-column-container col-4">

            <div class="proj-4-right-col">
                <div class="project-page-text">
                    <p>Developed a simple portfolio website for my brother as a Flask application.</p>
                    <p>Incorporates an embedded PDF and a simple design.</p>
                    <p>Check it out at <a class="project-link" href="https://anders-orbits.com" target = "_blank">anders-orbits.com</a></p>
                </div>
            </div>

            <div class="proj-4-left-col">
                <img class="proj-img proj-4-img" src="/static/images/anders.png" alt="track that img">
            </div>
        </div>
    </div>

    <div class="project-end-container">  
        <p class="project-end">Most of my projects can be found on my <a class="project-link" href="https://github.com/AlexanderGoose" target="_blank">GitHub</a> account page.</p>
    </div>

    <div class="spacer"></div>

</div>


{% endblock %}