{% extends 'template.html' %}

{% block content %}

<div class="project-container-main">
    

    <!-- PROJECT 1 - RECIPE -->
    <div>

        <h1 class="proj-title">Recipe Management</h1>

        <div class="proj-column-container col-2">
            <div class="proj-2-right-col">
                <div class="project-page-text">
                    <p>A working Flask application that allows a user to add, edit, and delete recipes.</p>
                    <p>Developed a RESTful API that interacts with a remote PostgreSQL server hosted on Heroku. Utilized OOP, class inheritence, and Python scripting.</p>
                    <p>Advanced SQL statements are used and paired with JinJa2 functionality to create a seemeless experience.</p>
                    <p>Check it out at <a class="project-link" href="https://chillcooks.com" target="_blank">chillcooks.com</a>.</p>
                </div>
            </div>

            <div class="proj-2-left-col">
                <img class="proj-img proj-2-img animate" src="/static/images/recipes.png" alt="recipes img">
            </div>
        </div>
    </div>


    <!-- RESEARCH -->
    <div>

        <h1 class="proj-title ecophys-title">Plant Ecophysiology Research</h1>

        <div class="proj-column-container research">
            <div class="slick-carousel animate">
                <div><img class="car-img" src="/static/images/licor.jpg" alt="LI-COR being used on Croton."></div>
                <div><img class="car-img" src="/static/images/pink.jpg" alt="Samples taken from red parts of leaf."></div>
                <div><img class="car-img" src="/static/images/shade.jpg" alt="Shade chamber in the ASU greenhouse."></div>
            </div>
        
            <div class="proj-1-right-col">
                <div class="project-page-text">
                    <p>I studied the effects of high light stress on ornamental plants, using croton as a study sample. My research aimed to determine how pigmentation changed with varying light intensity, which relied on the use of a <a class="project-link" href="https://www.licor.com/env/products/photosynthesis/LI-6800/" target="_blank"><u>LI-6800</u></a> and sampling.</p>
                    <p>The use of a LI-6800 allowed me to test varying light situations and could see in real time how the plant was reacting. In addition to these lab trials, I conducted greenhouse trials by placing some plants in a shade chamber and comparing them to those in full sun.</p>
                    <p>Using Excel, with the plan to use R later on, I was able to create visualizations of CO2 output versus light intensity to gain an understanding of how the plant responded to stress.</p>
                </div>
            </div>
            <div id="email-link"></div>
        </div>
    </div>

    <div id="email-link"></div>

    <!-- PROJECT 2 - EMAIL SYSTEM -->
    <div>

        <h1 class="proj-title">Automated Emails</h1>

        <div class="proj-column-container col-3">
            <div class="proj-1-right-col">
                <div class="project-page-text">
                    <p>Developed an automated emailing system using Python, reducing task time by 95%.</p>
                    <p>Split a CSV of several hundred short term rental reservations, created 50 unique PDFs for each with personalized information.</p>
                    <p>Became the primary contact method for over 20 state park across the US. Included an email list of about 100 state park and Tentrr Staff.</p>
                    <p>Designed for an utilized by Tentrr, a short term rental website. It's like Airbnb but for camping.</p>
                </div>
            </div>

            <div class="proj-1-left-col">
                <img class="proj-img proj-1-img animate" src="/static/images/sent.png" alt="emails sent img">
            </div>
        </div>
    </div>
    

    <!-- PROJECT 3 - TRACK THAT -->
    <div>
        <h1 class="proj-title">Track That!</h1>

        <div class="proj-column-container">

            <div class="proj-3-left-col">
                <img class="proj-img proj-3-img animate" src="/static/images/trackthat.png" alt="track that img">
            </div>

            <div class="proj-3-right-col">
                <div class="project-page-text">
                    <p>Gained experience with Agile development methods, weekly scrums, working with project managers, and using Git, GitHub and branches as part of a development team.</p>
                    <p>Utilized efficient version control practices to reduce redundancy and discrepancies in code functionally.</p>
                    <p>Utilized SQL and a custom API to add new events and create a database of completed activities with the time and date of completion.</p>
                </div>
            </div>
        </div>
    </div>
    

    <!-- PROJECT 4 - ANDERS ORBITS -->
    <div>
        <h1 class="proj-title">Anders' Orbits</h1>

        <div class="proj-column-container col-4">

            <div class="proj-4-right-col">
                <div class="project-page-text">
                    <p>Developed a simple portfolio website for my brother as a Flask application to show off his Senior Capstone Project.</p>
                    <p>Incorporates an embedded PDF and a professional design.</p>
                    <p>Check it out at <a class="project-link" href="https://anders-orbits.com" target = "_blank">anders-orbits.com</a>.</p>
                </div>
            </div>

            <div class="proj-4-left-col">
                <img class="proj-img proj-4-img animate" src="/static/images/anders.png" alt="anders orbits homepage img">
            </div>
        </div>
    </div>

        <!-- PROJECT 5 - BIOINFORMATICS -->
        <div>
            <h1 class="proj-title bio-title">Bioinformatics</h1>
    
            <div class="proj-column-container col-5">

                <div class="proj-5-left-col">
                    <img class="proj-img proj-5-img animate" src="/static/images/dna.png" alt="dna w/ python img">
                </div>
    
                <div class="proj-5-right-col">
                    <div class="project-page-text">
                        <p>I have developed some simple functions to give a quick analyses of DNA, offering insights such as complements, reverse complements, and GC content.</p>
                        <p>The project has the ability to translate a DNA sequence into a list of the corresponding aminoacids, reading frames, and proteins.</p>
                        <p>Current plans are to expand the capabilites and to learn the basics of Biopython and other relevant bioinformatics software.</p>
                        <p>View the code at <a class="project-link" href="https://github.com/AlexanderGoose/bioinformatics_python_intro" target = "_blank">GitHub Link</a>.</p>
                    </div>
                </div>
            </div>
        </div>


    <div class="project-end-container">  
        <p class="project-end">Most of my projects can be found on my <a class="project-link" href="https://github.com/AlexanderGoose" target="_blank">GitHub</a> account page.</p>
    </div>
    
    <div class="spacer"></div>

</div>

{% endblock %}