{% extends 'template.html' %}

{% block content %}

<div id="container-resume-main">
    
    <!-- top section contains projects -->
    <div id="resume-top-section-container">
        <div>
            <h1 id="projects-and-experience">Projects and Experience</h1>

            <h3 class="project email-system">Automated Email System</h3>
                <p class="project-text"><i>Designed for and utilized by Tentrr, July 2023 - December 2023</i></p>
                <p class="project-text">- Developed an automated emailing system using python that reduced task time by 90%. Split a CSV of several hundred reservations into 50 unique PDFs and sent them out 2x/week via email using Python.</p>

            <h3 class="project recipe">Recipe Management System</h3>
                <p class="project-text"><i><a class="project-link" href="https://chillcooks.com">chillcooks.com</a></i></p>
                <p class="project-text">- Developed a RESTful API that interacts with a remote PostgreSQL server hosted on Heroku. Leveraged expanded on my web development and design experience and Python integration for the backend.</p>

            <h3 class="project habit-tracker">Habit Tracker</h3>
                <p class="project-text"><i>Grout Project at CU Boulder</i></p>
                <p class="project-text">- Gained experience with Agile development methods, weekly scrums, working with project managers, and using Git, GitHub and branches as part of a development team. Utilized efficient version control practices to reduce redundancy and discrepancies in code functionally.</p>

            <h3 class="project anders">Anders' Orbits</h3>
                <p class="project-text"><i><a class="project-link" href="https://anders-orbits.com">anders-orbits.com</a></i></p>

            <h3 id="project pygoose">Personal Portfolio</h3>
                <p class="project-text"><i><a class="project-link" href="https://pygoose.com/resume">pygoose.com (this site)</a></i></p>
        </div>
    </div>

    <!-- middle section contains two columns. Left: Education and coursework, Right: SKills -->
    <div id="resume-middle-section-container">
        <div class="resume-middle res-mid-left">
            <h1 >Education</h1>
            <h3 class="resume-middle-item"><b>University of Colorado - Boulder; </b></h3>
                <i class="resume-middle-item-text">BS, Computer Science; Expected Graduation: Dec 2024; GPA: 3.89</i>
            
                <h3 class="resume-middle-item"><b>Appalachian State University; </b></h3>
                    <i class="resume-middle-item-text">BS, Biology - Ecology, Evolution, and Environmental Biology, Graduated 2021</i>
            
                <h3 class="resume-middle-item"><b>Relevant Coursework: </b></h3><p class="resume-middle-item-text">Data Science, Data Structures, Algorithms, Principles of Programming Languages, Linear Algebra with CS Applications, Calculus II, Discrete Math, Information Visualization, Data Mining, Botany, Statistics.</p>
        </div>

        <div class="resume-middle res-mid-right">
            <h1 >Skills</h1>
                <b class="resume-middle-item">Well Versed:</b>
                <p class="resume-middle-item-text">Python, Scala, C++, SQL (PostgreSQL, MySQL), HTML/CSS, Flask, DSA, OOP, Unix, Agile, Git</p>
                
                <b class="resume-middle-item">Familiar:</b>
                <p class="resume-middle-item-text">C#, JavaScript, scikit-learn, Bash, Tableau, R, Linux, AWS, Cloud Development</p>
            </div>

    </div>

    <!-- bottom section containts other experience -->

</div>

{% endblock %}