{% extends 'template.html' %}

{% block content %}

<div id="container-resume-main">

    <div class="resume-header">
        <h1>704-780-2136</h1>
        <h3>alexandergoose97@gmail.com</h3>

        <div class="resume-header-link-container">
            <a class="project-link" href="https://www.linkedin.com/in/alexander-gustafson/" target="_blank">LinkedIn</a>
            <a class="project-link" href="https://github.com/AlexanderGoose" target="_blank">GitHub</a>
        </div>

        <!-- <p class="pdf-link-container">Open a printable <a class="pdf-viewer" href="{{ url_for('static', filename='pdf/Resume_DS.pdf') }}" target="_blank"><u>resume</u></a> in a new tab</p> -->
        <!-- <p class="pdf-link-container">Open a printable resume focused on <a class="pdf-viewer bio" href="{{ url_for('static', filename='pdf/Resume_Biology.pdf') }}" target="_blank"><u>Biology</u></a> or <a class="pdf-viewer bio" href="{{ url_for('static', filename='pdf/Resume_Developer.pdf') }}" target="_blank"><u>Software Development</u></a>.</p> -->
    </div>
    
    <div id="resume-middle-section-container">
        <div class="resume-middle res-mid-left">
            <h1 class="section-header">Education</h1>

            <h3><b>Univeristy of Colorado - Boulder</b></h3>
            <p class="resume-middle-item-text">B.S. Computer Science | GPA: 3.78 | May 2025</p>
            
            <h3><b>Appalachian State University</b></h3>
            <p class="resume-middle-item-text">B.S. Environmental Biology | GPA: 3.37 | May 2021</p>
        </div>

    </div>

    
    <!-- JOBS-->
    <div class="resume-jobs-container">
        <div class="section-header"><h1>Work Experience</h1></div>

        <div class="job-1">

            <div class="job-title-container">
                <img class="job-logo slide-in animate" src="/static/images/proforma.png" alt="proforma logo">
                <h2>Software Development Engineer in Test</h2>
            </div>

            <b class="job-text">Proforma</b>
            <i class="job-text">May 2025 - Present</i>
            <p class="job-text">Increased overall testing speed by 3X by developing and maintaining reusable C# automation utilities and framework components to improve test scalability, reliability, and maintainability.</p>
            <p class="job-text">Overhauled over 400 E2E and smoke test scripts and over 100 page object models for an Angular environment update using C# and Selenium.</p>
            <p class="job-text">Focused on code quality and release readiness by identifying defects in staging environments, developing automation solutions, and executing comprehensive test suites prior to production deployments.</p>
            <p class="job-text">Developed tools and workflows that leverage APIs using Postman to automate data validation, reduce manual effort, and improve system reliability. </p>
        </div>

        <div class="job-1">

            <div class="job-title-container">
                <img class="job-logo slide-in animate" src="/static/images/instaar_cu.png" alt="instaar logo">
                <h2>Software Developer (Part-Time)</h2>
            </div>

            <b class="job-text">Institute of Arctic and Alpine Research</b>
            <i class="job-text">January 2025 - Present</i>
            <p class="job-text">Funded by a USGS grant, I built and continue to maintain a SQL database to store long-term research data relating to the Loch Vale watershed at RMNP. </p>
            <p class="job-text">Work closely with PhD students to develop niche R scripts that have saved hours of manual work.</p>
            <p class="job-text">Built a data dashboard to view long-term data and a website acting as the face of The Loch Vale watershed.</p>
        </div>

        <div class="job-3">

            <div class="job-title-container">
                <img class="job-logo slide-in animate" src="/static/images/evo_com_logo.png" alt="evo logo">
                <h2>Seasonal Ski Salesman</h2>
            </div>

            <b class="job-text">evo</b>
            <i class="job-text">Nov 2024 - March 2025</i>
            <p class="job-text">Used my expertise to help customers pick out the perfect gear for their needs.</p>
        </div>

        <div class="job-1">

            <div class="job-title-container">
                <img class="job-logo slide-in animate" src="/static/images/fpcs_logo.png" alt=" fpcs logo">
                <h2>Barista</h2>
            </div>

            <b class="job-text">Front Porch Coffee Shop</b>
            <i class="job-text">February 2024 - November 2024</i>
            <p class="job-text">Fostered strong customer relationships, delivered exceptional quality products, and cultivated a collaborative, supportive work environment.</p>
        </div>


        <div class="job-2">

            <div class="job-title-container">
                <img class="job-logo job-img-2 animate" src="/static/images/tentrr.png" alt="tentrr logo">
                <h2>Customer Service Specialist</h2>
            </div>

            <!-- <h2 class="job-title">Help Desk / Customer Service Agent</h2> -->
            <b class="job-text">Tentrr</b>
            <i class="job-text">June 2022 - Dec 2023</i>
            <p class="job-text">Worked in a role for short-term camping rentals, similar to Airbnb for camping. Served as the primary contact for campsite owners and campers, skillfully handling various queries via phone and email. Effectively addressed concerns, resolved issues, and provided understanding solutions ensuring a positive rental experience for everyone involved.</p>
            <p class="job-text">Diagnosed and resolved tech issues, reservation complications, maintenance, and shipping issues. Increased overall customer satisfaction metrics by several percentage points and consistently had the best call stats.</p>
        </div>


        <div class="job-4">

            <div class="job-title-container">
                <img class="job-logo slide-in animate" src="/static/images/msm_logo.png" alt=" msm logo">
                <h2>Greenhouse Lead</h2>
            </div>
            <b class="job-text">The Mustard Seed Market</b>
            <i class="job-text">May 2021 - Jun 2022</i>
            
            <p class="job-text">Oversaw most greenhouse operations including shipping and receiving, plant care, and pesticide maintenance and mitigation. Gained practical knowledge of plant health, identification, and research. Regularly collaborated with teammates on short and long-term projects.</p>
        </div>

        <div class="job-5">

            <div class="job-title-container">
                <img class="job-logo slide-in animate" src="/static/images/app_logo.png" alt="app logo">
                <h2>Research Assistant</h2>
            </div>

            <b class="job-text">Appalachian State University</b>
            <i class="job-text">October 2019 - May 2020</i>
            <p class="job-text">Researched and worked in a Plant Ecophysiology Lab directed by Dr. Neufeld. I studied the effects of high light stress on ornamental plants, using croton as a study sample. My research aimed to determine how pigmentation changed with varying light intensity, which relied on the use of a <a class="project-link" href="https://www.licor.com/env/products/photosynthesis/LI-6800/" target="_blank"><u>LI-6800</u></a> and sampling.</p>
            <p class="job-text">The use of a LI-6800 allowed me to test varying light situations and could see in real time how the plant was reacting. In addition to these lab trials, I conducted greenhouse trials by placing some plants in a shade chamber and comparing them to those in full sun.</p>
        </div>
    </div>

    <div class="skills-container">
        <h1 class="section-header skills">Skills</h1>
            <b>Well Versed:</b>
            <p class="resume-middle-item-text">C#, Selenium, Python, R, SQL</p>
            
            <b>Familiar:</b>
            <p class="resume-middle-item-text">JavaScript, scikit-learn, Bash, Tableau, Linux, AWS, Cloud Development</p>

            <b>Relevant Courses: </b>
            <p class="resume-rel-courses-text">Data Science, Data Structures, Algorithms, Calculus II, Computer Systems, Discrete Math, Data Mining, Botany, Applied Farm Operations, Agroecology, Statistics, Ecology, Organic Chemistry, Agroforestry</p>
    </div>

</div>

<div class="spacer"></div>

{% endblock %}