<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="/static/script.js"></script>

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="container-navbar">
    <div class="navbar left">
        <a class="logo" href="{{ url_for('home') }}">Goose</a>
    </div>

    <div class="navbar right">
        <a class="navbar-item home-page-link" href="{{ url_for('home') }}">Home</a>
        <a class="navbar-item" href="{{ url_for('projects') }}">Projects</a>
        <a class="navbar-item" href="{{ url_for('resume') }}">Resume</a>
    </div>
</div>


    {% block content %}
    {% endblock %}

</body>
</html>