/* ------------------------------ overall styling */
// COMPILE WITH: sassc static/styles/main.scss static/css/main.css
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    margin-bottom: 100px;
}

body {
    background: #FFFDF8; 
    color: black;
    background-attachment: fixed;
    height: 100%;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: large;
}
/* ------------------------------ END overall styling */

@import 'navbar';
@import 'home';
@import 'project';
@import 'resume';
@import 'about';
@import 'animations';