/* ------------------------------ navbar */
.container-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    flex: 1;
}

.left {
    margin-top: 0;
    margin-left: 20px;
}

.logo {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-family: 'Italiana', serif;
}

.right {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 10%;
}

.navbar-item {
    text-decoration: none;
    color: black;
    font-family: 'Italiana', serif;
    font-size: 20px;
}

.navbar-item:hover {
    /* color: gray; */
    font-style: italic;
}

.home-page-link {
    display: none;
}

/* ------------------------------ END navbar */


/* ------------------------------ navbar mobile*/

@media only screen and (max-width: 800px) {

    .home-page-link {
        display: none;
    }

    .navbar.right {
        gap: 20px;
    }
}
/* ------------------------------ END navbar mobile*/